.estilo-tabla {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.estilo-tabla th {
  background-color: #74b49b;
  color: white;
  padding: 10px;
  text-align: center;
}

.estilo-tabla td {
  background-color: #eef7e8; 
  text-align: center;
  padding: 10px;
  border: 1px solid #c6fd00;
}

.estilo-tabla tr:nth-child(even) td {
  background-color: #dff0d8;
}

.estilo-tabla img {
  border-radius: 5px;
  object-fit: cover;
}
.inputf{
  background-color:transparent;
  border: none;
  color: white;
  font-size: 18px;
  outline: none
}
.inputf::placeholder{
  color: white;
  opacity: 1;
  font-size: 18px;
}